p {
  color: rgb(19, 11, 11);
}

.hero-text {
  font-family: fantasy;
  color: hotpink;
  background-color: rgb(98, 186, 157);
}

body {
  background-color: linen;
  scroll-behavior: smooth;
}

#notice {
  font-size: 3rem;
}
